<p>{{ 'exchange.rate.intro' | translate }}</p>
<form>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'currency' | translate }}</mat-label>
    <input [formControl]="formControl"
           [matAutocomplete]="auto"
           matInput
           type="text">
    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="onCurrencySelected($event)"
                      autoActiveFirstOption>
      <mat-option *ngFor="let currency of filteredCurrencyList | async"
                  [id]="currency.code"
                  [value]="currency.name">
        {{ currency.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<table *ngIf="showHistoryTable"
       [dataSource]="exchangeRateList"
       class="mat-elevation-z8"
       mat-table>
  <ng-container matColumnDef="date">
    <th mat-header-cell
        *matHeaderCellDef>{{ 'exchange.rate.table.date' | translate }}</th>
    <td mat-cell
        *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="rateAgainstEur">
    <th mat-header-cell
        *matHeaderCellDef>{{ 'exchange.rate.table.rate.against.eur' | translate }}</th>
    <td mat-cell
        *matCellDef="let element">{{ element.rateAgainstEur }}</td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns"></tr>
</table>
